@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }

body {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  font-family: 'Nunito', sans-serif; }

img {
  display: block; }

.wrapper {
  width: 100%;
  max-width: 1108px;
  padding: 0 20px 60px;
  margin: 0 auto; }

.logo {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  margin: 60px auto;
  display: block;
  mix-blend-mode: multiply; }
  @media (max-width: 549px) {
    .logo {
      max-width: 200px;
      margin: 20px auto; } }

p {
  max-width: 680px;
  font-size: 30px;
  margin: 60px auto;
  text-align: center;
  font-weight: 300; }
  @media (max-width: 549px) {
    p {
      margin: 20px auto; } }

.cta_box {
  width: 100%;
  margin: 60px 0;
  text-align: center; }
  @media (max-width: 549px) {
    .cta_box {
      margin: 40px auto 20px; } }

.cta {
  min-width: 300px;
  min-height: 80px;
  font-size: 28px;
  border-radius: 10px;
  text-align: left;
  display: inline-block;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 28px;
  padding: 26px 25px;
  mix-blend-mode: multiply; }
  .cta:first-child {
    margin-left: 0; }
  .cta.gh {
    background: #FF3824 url("../img/gh_icon.svg") 20px center no-repeat;
    padding-left: 85px; }
  .cta.docs {
    background: #007CFF url("../img/docs_icon.svg") 20px center no-repeat;
    padding-left: 85px; }
  @media (max-width: 767px) {
    .cta {
      display: block;
      margin: 20px 0 0 0;
      text-align: center; }
      .cta.gh, .cta.docs {
        padding-left: 20px;
        background-image: none; }
      .cta:first-child {
        margin-top: 0; } }
  @media (max-width: 549px) {
    .cta {
      font-size: 22px;
      min-height: 60px;
      padding: 20px;
      min-width: 0; } }

.cards {
  width: 1068px;
  height: 1380px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start; }
  .cards img {
    width: 242px;
    height: 100%;
    max-width: 484px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); }
  @media (max-width: 1107px) {
    .cards {
      width: 806px;
      height: 1840px; } }
  @media (max-width: 845px) {
    .cards {
      width: 544px;
      height: 2610px; } }
  @media (max-width: 583px) {
    .cards {
      width: auto;
      height: auto; }
      .cards img {
        width: 100%;
        margin: 10px 0; } }
