@import "compass/reset";
@import "compass/css3/animation";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/user-interface";
@import "compass/utilities/general/clearfix";

@import "mixins";
@import "variables";
@import "defaults";

*{
	box-sizing: border-box;
}

body{
	@include background(linear-gradient(to bottom, $hd_gradient1, $hd_gradient2));
	font-family: 'Nunito', sans-serif;
}

img{
	display: block;
}

.wrapper{
	width: 100%;
	max-width: 1108px;
	padding: 0 20px 60px;
	margin: 0 auto;
}

.logo{
	width: 100%;
	max-width: 250px;
	padding: 20px;
	margin: 60px auto;
	display: block;
	mix-blend-mode: multiply;
	
	@media (max-width: 549px) {
		max-width: 200px;
		margin: 20px auto;
	}
}

p{
	max-width: 680px;
	font-size: 30px;
	margin: 60px auto;
	text-align: center;
	font-weight: 300;
	
	@media (max-width: 549px) {
		margin: 20px auto;
	}
}

.cta_box{
	width: 100%;
	margin: 60px 0;
	text-align: center;
	
	@media (max-width: 549px) {
		margin: 40px auto 20px;
	}
}

.cta{
	min-width: 300px;
	min-height: 80px;
	font-size: 28px;
	border-radius: 10px;
	text-align: left;
	display: inline-block;
	margin-left: 20px;
	color: white;
	text-decoration: none;
	font-size: 28px;
	padding: 26px 25px;
	mix-blend-mode: multiply;
	
	&:first-child{
		margin-left: 0;
	}
	
	&.gh{
		background: $hd_red url('../img/gh_icon.svg') 20px center no-repeat;
		padding-left: 85px;
	}
	
	&.docs{
		background: $hd_blue url('../img/docs_icon.svg') 20px center no-repeat;
		padding-left: 85px;
	}
	
	@media (max-width: 767px) {
		display: block;
		margin: 20px 0 0 0;
		text-align: center;
		
		&.gh, &.docs{
			padding-left: 20px;
			background-image: none;
		}
		
		&:first-child{
			margin-top: 0;
		}
	}
	
	@media (max-width: 549px) {
		font-size: 22px;
		min-height: 60px;
		padding: 20px;
		min-width: 0;
	}
}

.cards{
	width: 1068px;
	padding: 10px;
	margin: 0 auto;
	overflow: hidden;
	
	&.at846px, &.at584px{
		display: none;
	}
	
	.col{
		float: left;
	}
	
	img{
		width: 242px;
		height: 100%;
		max-width: 484px;
		margin: 10px;
		border-radius: 4px;
		box-shadow: 0 0 15px transparentize(black, .8);
	}
	
	@media (max-width: 1107px) {
		width: 806px;
		&.at846px{
			display: block;
		}
		&.at1108px, &.at584px{
			display: none;
		}
	}
	
	@media (max-width: 845px) {
		width: 544px;
		&.at584px{
			display: block;
		}
		&.at1108px, &.at846px{
			display: none;
		}
	}
	
	@media (max-width: 583px) {
		width: auto;
		height: auto;
		
		.col{
			float: none;
		}
		
		img{
			width: 100%;
			margin: 15px auto;
		}
	}
}